[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-elixir"]
	path = .vim/pack/plugins/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule ".vim/pack/plugins/start/vim-terraform"]
	path = .vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/plugins/start/vim-ansible-yaml"]
	path = .vim/pack/plugins/start/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule "submodule/zsh-kubectl-prompt"]
	path = submodule/zsh-kubectl-prompt
	url = https://github.com/superbrothers/zsh-kubectl-prompt.git
[submodule "submodule/zsh-syntax-highlighting"]
	path = submodule/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodule/zsh-autosuggestions"]
	path = submodule/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "submodule/zsh-completions"]
	path = submodule/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "submodule/zsh-history-substring-search"]
	path = submodule/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "submodule/spaceship-prompt"]
	path = submodule/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule "submodule/grml-etc-core"]
	path = submodule/grml-etc-core
	url = https://github.com/grml/grml-etc-core.git
[submodule ".vim/pack/plugins/start/denops.vim"]
	path = .vim/pack/plugins/opt/denops.vim
	url = https://github.com/vim-denops/denops.vim.git
[submodule ".vim/pack/plugins/start/ddu.vim"]
	path = .vim/pack/plugins/opt/ddu.vim
	url = https://github.com/Shougo/ddu.vim.git
[submodule ".vim/pack/plugins/start/ddu-ui-ff"]
	path = .vim/pack/plugins/opt/ddu-ui-ff
	url = https://github.com/Shougo/ddu-ui-ff.git
[submodule ".vim/pack/plugins/start/ddu-source-file_rec"]
	path = .vim/pack/plugins/opt/ddu-source-file_rec
	url = https://github.com/Shougo/ddu-source-file_rec.git
[submodule ".vim/pack/plugins/start/ddu-filter-matcher_substring"]
	path = .vim/pack/plugins/opt/ddu-filter-matcher_substring
	url = https://github.com/Shougo/ddu-filter-matcher_substring.git
[submodule ".vim/pack/plugins/start/ddu-kind-file"]
	path = .vim/pack/plugins/opt/ddu-kind-file
	url = https://github.com/Shougo/ddu-kind-file.git
[submodule ".vim/pack/plugins/opt/coc.nvim"]
	path = .vim/pack/plugins/opt/coc.nvim
	url = https://github.com/neoclide/coc.nvim
