[submodule ".vim/pack/plugins/start/nerdtree"]
	path = .vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".vim/pack/plugins/start/vim-elixir"]
	path = .vim/pack/plugins/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule ".vim/pack/plugins/start/vim-terraform"]
	path = .vim/pack/plugins/start/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule ".vim/pack/plugins/start/vim-ansible-yaml"]
	path = .vim/pack/plugins/start/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
[submodule "submodule/zsh-kubectl-prompt"]
	path = submodule/zsh-kubectl-prompt
	url = https://github.com/superbrothers/zsh-kubectl-prompt.git
[submodule "submodule/zsh-syntax-highlighting"]
	path = submodule/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodule/zsh-autosuggestions"]
	path = submodule/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "submodule/zsh-completions"]
	path = submodule/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "submodule/zsh-history-substring-search"]
	path = submodule/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "submodule/spaceship-prompt"]
	path = submodule/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
